.block{
    display: block;
}
.pl-1{
    padding-left: 8px;
}
.pb-2{
    padding-bottom: 16px;    
}
.pl-3{
    padding-left: 24px;
}
.pb-3{
    padding-bottom: 24px;
}
.pt-3{
    padding-top: 24px;
}
.pb-4{
    padding-bottom: 36px;
}
.pb-9{
    padding-bottom: 72px;
}
.ml-1{
    margin-left: 8px;
}
.mb-1{
    margin-bottom: 8px;
}
.mb-2{
    margin-bottom: 16px;
}
.mr-3{
    margin-right: 24px;
}
.mt-3{
    margin-top: 24px;
}
.mb-3{
    margin-bottom: 24px;
}
.ml-3{
    margin-left: 24px;
}
.mb-4{
    margin-bottom: 32px;
}
.mb-5{
    margin-bottom: 40px;
}
.mt-6{
    margin-top: 48px;
}
.mb-6{
    margin-bottom: 48px;
}
.mb-7{
    margin-bottom: 56px;
}
.mb-9{
    margin-bottom: 72px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 36px;
}
.title{
    font-size: 80px;
    line-height: 94px;
    border-bottom: 2px solid #000;
}
.sub_title{
    font-size: 32px;
    line-height: 43px;
    border-bottom: 2px solid #000;
    padding-bottom: 8px;
}
.sub_title_white{
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    text-align: center;
}
.sub_title span{
    margin-left: 16px;
    color: #A00404;
}
.sub_title_white span{
    color: #FFFFFF;
}
.blue{
    background: #415165;
}
.skills{
    width: 996px;
}
.skills_content{
    margin: 0 auto;
    border-left: 2px solid #96A9C4;
    color: white;
    width: 216px;
    padding-left: 24px;
}
.work_content{
    border-left: 2px solid #96A9C4;
    
}
.footer_content{
    text-align: center;
    width: 507px;
    margin: 0 auto;
    color: white;
}