@import "reset";
@import "custom-reset";
@import "mixin";
@import "utility";
@import "index";
.container{
    max-width: 1110px;
    margin: 0 auto;
    @include mobile{ 
        max-width: 345px;
        margin: 0 auto;
    }
}